install
url --url http://ftp-stud.fht-esslingen.de/pub/Mirrors/centos/7/os/x86_64/
repo --name updates --baseurl=http://ftp-stud.fht-esslingen.de/pub/Mirrors/centos/7/updates/x86_64/

# for too new hardware
unsupported_hardware

text
skipx
bootloader

firewall --disabled
selinux --disabled
firstboot --disabled

lang en_US.UTF-8
keyboard us
timezone --utc Etc/UTC

zerombr
clearpart --all --initlabel
part /boot --size=250
part swap --hibernation
part / --size=3000 --grow

rootpw vagrant
authconfig --enableshadow --passalgo=sha512
user --name=centos --groups=centos --password=centos

reboot

%packages --nobase
@core
-*firmware
-b43-openfwwf
-efibootmgr
-audit*
-libX*
-fontconfig
-freetype
sudo
openssh-clients
openssh-server
gcc
make
perl
kernel-firmware
kernel-devel
%end


%post
# configure  user in sudoers
echo "%centos ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/centos
chmod 0440 /etc/sudoers.d/centos
cp /etc/sudoers /etc/sudoers.orig
sed -i "s/^\(.*requiretty\)$/#\1/" /etc/sudoers
# keep proxy settings through sudo
echo 'Defaults env_keep += "HTTP_PROXY HTTPS_PROXY FTP_PROXY RSYNC_PROXY NO_PROXY"' >> /etc/sudoers
%end
